.cont{
    display: flex;
    position: relative;
    justify-content: center;

}
.buttonPago{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 35%;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-style: initial;
    cursor: pointer;
}
.NewButton{
    background-color: rgb(0, 153, 255);
}
.NewButton:hover{
    background-color: rgb(0, 115, 192);
}
.RigthButton{
    background-color: rgb(0, 150, 0);
}
.RigthButton:hover{
    background-color: rgb(0, 90, 0);
}
.EdithButton{
    background-color: rgb(243, 85, 85);
}
.EdithButton:hover{
    background-color: rgb(202, 45, 45);
}
