.conteiner{
    background-color:var(--ColorFour);
    height: 100%;
}
.conteinerDet{
    background-color:var(--ColorFour);
    height: 100%;
}

.tdDF{
    text-align:right;
}

.tdr{
    text-align:right
}
.columnRight{
    text-align: center;
}

.conteinerCaja{
    background-color:var(--ColorFour);
    height: 100%;
}
.concepto{
    width: 100px;
}
@media (max-width: 600px){
    .conteinerCaja{
        background-color:   var(--ColorFour);
        height: 100%;
        font-size: 10Px;
    }
    .conteinerDet{
        background-color:   var(--ColorFour);
        height: 100%;
        font-size: 10px;
    }
 
}
@media screen and (max-width: 500px) {
    .concepto{
        width: 80px;
    }
    .fecha{
        width: 100px;
    }
}

