.cont{
    display: flex;
    position: relative;
    border-color: var(--ColorTrhee);
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 50px;
    background-color: var(--ColorEight);
    border-radius: 10px;
    border-width: 3px;
    margin: 10px;
    padding: 0;
    gap: 15px;
}
.cont:hover{
    background-color: var(--ColorFour);
}
.item1{
    display: flex;
    position: relative;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    color: var(--ColorTrhee);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
    width: 60px;
}
.item2{
    display: flex;
    position: relative;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    color: var(--ColorTrhee);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
    width: 100px;
}
.item3{
    display: flex;
    position: relative;
    padding-top: 15px;
    padding-left: 20px;
    color: var(--ColorTrhee);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
    width: 200px;
}
.item4{
    display: flex;
    position: relative;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    color: var(--ColorTrhee);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
    width: 50px;
}
.item5{
    display: flex;
    position: relative;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    color: var(--ColorTrhee);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
    width: 50px;
}
.item6{
    display: flex;
    position: relative;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    color: var(--ColorTrhee);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
    width: 150px;
}
.button_pago{
    display: flex;
    position: relative;
    margin-top: -22px;
    margin-left: 500px;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .cont{
        width: 350px;
        height: 50px;
        margin: 10px;
        padding: 0;
        gap: 6px;
    }
     .button_pago{
        margin-top: -22px;
        margin-left: 320px;
    }
    .item1{
        display: flex;
        position: relative;
        padding-top: 15px;
        padding-left: 10px;
        color: var(--ColorTrhee);
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-style: initial;
        width: 20px;
    }
    .item2{
        display: flex;
        position: relative;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
        color: var(--ColorTrhee);
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-style: initial;
        width: 90px;
    }
    .item3{
        display: flex;
        position: relative;
        padding-top: 15px;
        text-align: left;
        padding-left: 0px;
        color: var(--ColorTrhee);
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-style: initial;
        width: 110px;
    }
    .item4{
        display: flex;
        position: relative;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
        color: var(--ColorTrhee);
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-style: initial;
        width: 30px;
    }
    .item5{
        display: flex;
        position: relative;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
        color: var(--ColorTrhee);
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-style: initial;
        width: 30px;
    }
    .item6{
        display: flex;
        position: relative;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
        color: var(--ColorTrhee);
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-style: initial;
        width: 100px;
    }

}