.conteiner{
    width: 100%;
    min-height: 100%;
    align-items: center;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-image: linear-gradient(180deg,rgb(100, 9, 9) 0, rgb(90, 9, 9) 10%, rgb(80, 9, 9) 20%, rgb(70, 9, 9) 30%, rgb(60, 9, 9) 40%, rgb(50, 9, 9) 50%, rgb(40, 9, 9) 60%, rgb(30, 9, 9) 70%, rgb(20, 9, 9) 80%, rgb(10, 9, 9) 90%, rgb(0, 9, 9) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.conteinerCaja{
    width: 100%;
    height: 100%;
    min-height: 800px;
    align-items: center;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-image: linear-gradient(180deg,rgb(100, 9, 9) 0, rgb(90, 9, 9) 10%, rgb(80, 9, 9) 20%, rgb(70, 9, 9) 30%, rgb(60, 9, 9) 40%, rgb(50, 9, 9) 50%, rgb(40, 9, 9) 60%, rgb(30, 9, 9) 70%, rgb(20, 9, 9) 80%, rgb(10, 9, 9) 90%, rgb(0, 9, 9) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.wallpaper{
    display: flex;
    position: absolute;
    flex-direction: column;
    background-image: linear-gradient(180deg,rgb(100, 9, 9) 0, rgb(90, 9, 9) 10%, rgb(80, 9, 9) 20%, rgb(70, 9, 9) 30%, rgb(60, 9, 9) 40%, rgb(50, 9, 9) 50%, rgb(40, 9, 9) 60%, rgb(30, 9, 9) 70%, rgb(20, 9, 9) 80%, rgb(10, 9, 9) 90%, rgb(0, 9, 9) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}
.formItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: rgb(255, 207, 131);
    border-radius: 20px;
    margin: 0;
    padding: 18px;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-style: initial;
    
}
.formItemUpload{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 0;
    padding: 18px;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-style: initial;
    padding-top: 33px;
}
.formItemDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: rgb(255, 207, 131);
    border-radius: 20px;
    margin-left: 0;
    padding: 18px;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-style: initial;
    gap: 70px;
}
.title{
    font-size: large;
    padding-top: 10px;
}
p.danger {
	color: red;
	text-align: center;
	margin: 0;
    font-size: 12px;
}
p.pass{
    display: none;
}
.size1 {
	width: 50px;
}
.size2{
    width: 100px;
}
.numero{
    display: flex;
}
input{
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);
}
select{
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);
    height: 30px;
}
.detallePro{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    width: 300px;
    height: auto;
    background-color: rgb(255, 207, 131);
    border-radius: 20px;
    margin: 0;
    padding: 10px;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-style: initial;
}
.detalledivs{
    display: flex;
    justify-content:  center;
    align-items: center;
    gap: 10px;
}
.nameP{
    font-size: 18px;
    font-weight: bold;
}
.divButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.formItemInput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: rgb(255, 207, 131);
    border-radius: 20px;
    margin: 0;
    padding: 18px;
    color: rgb(10, 3, 3);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-style: initial;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 200px;
    background-color: rgb(255, 207, 131);
    border-radius: 20px;
    margin: 0;
    padding: 18px;
    color: rgb(10, 3, 3);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-style: initial;
}