.cont{
    display: flex;
    position: relative;
    border-color: black;
    justify-content: center;
}
.button1{
    width: 300px;
    height: 50px;
    background-color: rgb(255, 159, 0);
    border-radius: 20px;
    border-width: 3px;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-style: initial;
}
.button1:hover{
    background-color: rgb(160, 160, 160);
}