.ConteinerBalance{
    display: flex;
    position: absolute;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    width: 100%;
    justify-items: center;
    background-image: linear-gradient(180deg,rgb(100, 9, 9) 0, rgb(90, 9, 9) 10%, rgb(80, 9, 9) 20%, rgb(70, 9, 9) 30%, rgb(60, 9, 9) 40%, rgb(50, 9, 9) 50%, rgb(40, 9, 9) 60%, rgb(30, 9, 9) 70%, rgb(20, 9, 9) 80%, rgb(10, 9, 9) 90%, rgb(0, 9, 9) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 20px;
    color: white;
}
.dashboard{
    display: flex;
    width: 95%;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
}
.titles{
    font-size: 12px;
}
.dashboardTop{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
}
.divTop{
    display: flex;
    flex-direction: column;
    width: 180px;
    border-color: aliceblue;
    border-style:solid;
    border-width: 1px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
}

.tableBalance{
    display: flex;
    padding-top: 20px;
    width: 90%;
    gap: 20%;
}
.divBotton{
   display: flex;
   position: relative;
   justify-content: space-between;
}
.pie{
    width: 265px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.GraphVar{
    width: 400px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
}
.divDeudas{
    display: flex;
    font-size: 15px;
    flex-direction: column;
    width: 250px;
    border-color: aliceblue;
    border-style:solid;
    border-width: 1px;
    align-items: left;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .tableBalance{
        width: 300px;
    }
    .dashboardTopConteiner{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
    .dashboard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        font-size: 16px;
    }
    .dashboardTop{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 500px;
        height: auto;
        align-items: center;
        justify-items: center;
    }
    .divTop{
        display: flex;
        flex-direction: column;
        width: 180px;
        height: 120px;
        border-color: aliceblue;
        border-style:solid;
        border-width: 1px;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        justify-content: center;
    }
    .divBotton{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
        justify-content: center;
     }
     .pie{
        display: flex ;
        width: auto;
        margin-right: 5%;
        margin-left: 5%;
        padding-right: 0px;
        padding-left: 0px;

    }
    .divDeudas{
        display: flex;
        font-size: 15px;
        flex-direction: column;
        width: 250px;
        border-color: aliceblue;
        border-style:solid;
        border-width: 1px;
        align-items: left;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        justify-content: center;
    }
}