.cont{
    display: flex;
    position: relative;
    justify-content: center;
}
.button1{
    width: 150px;
    height: 60px;
    background-color: rgb(195, 215, 228);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 3px;
    border-right-width: 0px;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    font-style: initial;
}
.button1:hover{
    background-color: rgb(104, 155, 189);;
}
.button2{
    width: 150px;
    height: 60px;
    background-color: rgb(195, 215, 228);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 3px;
    margin: 0;
    padding: 0;
    background-image: url("../../../Media/add-circle-outline.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.button2:hover{
    background-color: rgb(104, 155, 189);;
}
