.wallpaper{
    display: flex;
    position: absolute;
    flex-direction: column;
    background-image: linear-gradient(180deg,rgb(100, 9, 9) 0, rgb(90, 9, 9) 10%, rgb(80, 9, 9) 20%, rgb(70, 9, 9) 30%, rgb(60, 9, 9) 40%, rgb(50, 9, 9) 50%, rgb(40, 9, 9) 60%, rgb(30, 9, 9) 70%, rgb(20, 9, 9) 80%, rgb(10, 9, 9) 90%, rgb(0, 9, 9) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.block1BH{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.logo{
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url("https://res.cloudinary.com/dk2al2urj/image/upload/v1666031351/MyPortfolio/logo_Don_Alberto_g1wuop.png") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.block2BH{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    align-items: center;
    text-align: center;
    gap: 12px;
    width: 100%;
    height: 100%;
}
.conteiner{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cont{
    display: flex;
    flex-direction:column;
    position: relative;
    border-color: black;
    justify-content: center;
    align-items: center;
}
.user{
    width: 180px;
    border-radius:10px;  
}



