.totalCard{
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    
}
.button_pago{
    display: block;
    position: absolute;
    margin-top: 40px;
    margin-right: 40px;
    cursor: pointer;
}
.cont{
    display: flex;
    position: relative;
    border-color: black;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 50px;
    background-color: rgb(255, 207, 131);
    border-radius: 10px;
    border-width: 3px;
    margin: 10px;
    padding: 0;
    gap: 25px;
    cursor: pointer;
}
.item1{
    display: flex;
    position: relative;
    padding-top: 15px;
    
    text-align: left;
    color: var(--ColorTrhee);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
    width: 120px;
}
.item2{
    display: flex;
    position: relative;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    color: var(--ColorTrhee);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
    width: 130px;
}
.item3{
    display: flex;
    position: relative;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    color: var(--ColorTrhee);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
    width: 80px;
}
.cont:hover{
    background-color: rgb(160, 160, 160);
}
.items{
    display: flex;
    position: relative;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
}
@media screen and (max-width: 500px) {
    .cont{
        width: 350px;
        height: 50px;
        margin: 10px;
        padding: 0;
        gap: 15px;
    }
    .items{
        font-size: 14px;
    }
    .button_pago{
        margin-right: 20px;
    }
    .item1{
        display: flex;
        position: relative;
        padding-top: 15px;
        text-align: left;
        color: var(--ColorTrhee);
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        font-style: initial;
        width: 130px;
    }
    .item2{
        display: flex;
        position: relative;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
        color: var(--ColorTrhee);
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        font-style: initial;
        width: 80px;
    }
    .item3{
        display: flex;
        position: relative;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
        color: var(--ColorTrhee);
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        font-style: initial;
        width: 70px;
    }
}