.ConteinerBalance{
    display: flex;
    position: absolute;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    width: 100%;
    justify-items: center;
    justify-content: space-between;
    background-image: linear-gradient(180deg,rgb(100, 9, 9) 0, rgb(90, 9, 9) 10%, rgb(80, 9, 9) 20%, rgb(70, 9, 9) 30%, rgb(60, 9, 9) 40%, rgb(50, 9, 9) 50%, rgb(40, 9, 9) 60%, rgb(30, 9, 9) 70%, rgb(20, 9, 9) 80%, rgb(10, 9, 9) 90%, rgb(0, 9, 9) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.tableBalance{
    width: 400px;
}
.marca{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Graph{
    width: 80%;
}

.cont{
    display: flex;
    position: relative;
    border-color: black;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 50px;
    background-color: rgb(255, 207, 131);
    border-radius: 10px;
    border-width: 3px;
    margin: 10px;
    padding: 0;
    gap: 20px;
}
.cont:hover{
    background-color: rgb(160, 160, 160);
}
.items{
    display: flex;
    position: relative;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
}
.button_pago{
    display: flex;
    position: relative;
    margin-top: -22px;
    margin-left: 500px;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .cont{
        width: 350px;
        height: 50px;
        margin: 10px;
        padding: 0;
        gap: 12px;
    }
    .items{
        font-size: 12px;
    }
    .button_pago{
        margin-top: -22px;
        margin-left: 320px;
    }
}



.CardConteiner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-bottom: 50px;
}

@media only screen and (min-width: 500px) {
    .CardConteiner {
      grid-template-columns: 1fr 1fr;
    }  
  }

@media only screen and (min-width: 800px) {
.CardConteiner {
    grid-template-columns: 1fr 1fr 1fr;
}  
}
@media only screen and (min-width: 1000px) {
    .CardConteiner {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }  
    }