.wallpaper{
    display: flex;
    position: absolute;
    flex-direction: column;
    background-image: linear-gradient(180deg,rgb(100, 9, 9) 0, rgb(90, 9, 9) 10%, rgb(80, 9, 9) 20%, rgb(70, 9, 9) 30%, rgb(60, 9, 9) 40%, rgb(50, 9, 9) 50%, rgb(40, 9, 9) 60%, rgb(30, 9, 9) 70%, rgb(20, 9, 9) 80%, rgb(10, 9, 9) 90%, rgb(0, 9, 9) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 100%;
}
.block1BH{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    height: 30%;
    width: 100%;
}
.appbar{
    margin: 0;
}
.marca{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 10px;
}
.logo{
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url("https://res.cloudinary.com/dk2al2urj/image/upload/v1666031351/MyPortfolio/logo_Don_Alberto_g1wuop.png") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.block2BH{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 5px;
    width: 100%;
    height: 70%;    
    margin-bottom: 5%;
}
