.conteiner{
    width: 100%;
    min-height: 100%;
    align-items: center;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-image: linear-gradient(180deg,rgb(100, 9, 9) 0, rgb(90, 9, 9) 10%, rgb(80, 9, 9) 20%, rgb(70, 9, 9) 30%, rgb(60, 9, 9) 40%, rgb(50, 9, 9) 50%, rgb(40, 9, 9) 60%, rgb(30, 9, 9) 70%, rgb(20, 9, 9) 80%, rgb(10, 9, 9) 90%, rgb(0, 9, 9) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.tablefaena{
    margin-top: 2%;
    width: 620px;
}

.tdDF{
    text-align:center
}
.text{
    color: rgb(146, 146, 146);
}
.tdr{
    text-align:right
}
.columnRight{
    text-align: center;
}