
.Conteiner{
    width: 100%;
    min-height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-image: linear-gradient(180deg,rgb(100, 9, 9) 0, rgb(90, 9, 9) 10%, rgb(80, 9, 9) 20%, rgb(70, 9, 9) 30%, rgb(60, 9, 9) 40%, rgb(50, 9, 9) 50%, rgb(40, 9, 9) 60%, rgb(30, 9, 9) 70%, rgb(20, 9, 9) 80%, rgb(10, 9, 9) 90%, rgb(0, 9, 9) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 30px;
}
.titleForm{
    font-size: 16px;
}
#ConteinerCenter{
    align-items: center;
}
@media screen and (max-width: 1000px) {
#ConteinerCenterPDF{
    justify-content: center;
}
}
.contTitle{
    margin: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.titleP{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-style: initial;
    font-size: 22px;
    color: var(--ColorFontTwo)
}
.title{
    font-size: large;
    padding-top: 10px;
}
.cardsCont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
}
.buttonsPagos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.formItemInput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: var(--ColorEight);
    border-radius: 20px;
    margin: 0;
    padding: 18px;
    color: var(--ColorFontOne);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-style: initial;
}

.text{
    color: var(--ColorFour);
}
@media screen and (max-width: 500px) {
    .title{
        gap: 15px;
        font-size: 15px;
        
    }
    .cardsCont{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
}
#buttonOk{
    display: flex;
    justify-content: flex-end;
}
.tablefaena{
    margin-top: 2%;
}
@media screen and (max-width: 550px) {
    .tablefaena{
        font-size: 13px;
    }


}
@media screen and (max-width: 450px) {
    .tablefaena{
        font-size: 12px;
    }
}
.tdDF{
    text-align:center
}
.text{
    color: var(--ColorFontTrhee);
}
.tdr{
    text-align:right
}
.columnRight{
    text-align: center;
}

.tablefaena{
    margin-top: 2%;
    max-width: 600px;
    min-width: 300px;
}

.buttonEdit{
    display: flex;
    position: relative;
    margin-left: 365px;
    margin-bottom: -10px;
}
.buttonDelete{
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-bottom: -11px;
}
.page{
    margin-top: 10px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}
.formItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: var(--ColorEight);
    border-radius: 20px;
    margin: 0;
    padding: 18px;
    color: var(--ColorFontOne);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-style: initial;
}
.formItemDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: var(--ColorEight);
    border-radius: 20px;
    margin-left: 0;
    padding: 18px;
    color: var(--ColorFontOne);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-style: initial;
    gap: 70px;
}
.formItem2{
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 300px;
    height: auto;
    background-color: var(--ColorEight);
    border-radius: 20px;
    margin: 0;
    padding: 15px;
    gap: 15px;
    color: var(--ColorFontOne);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-style: initial;
}
.inbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding-right: 15px;
    padding-left: 15px;
}
.numero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.title{
    font-size: large;
    padding-top: 10px;
}

p.danger {
	color: var(--ColorFontTrhee);
	text-align: center;
	margin: 0;
    font-size: 12px;
}
p.pass{
    display: none;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.shortButtons{
    display: flex;
    gap: 50px;
}
input{
    border-radius: 10px;
    border-color: var(--ColorBorderOne);
}
select{
    border-radius: 10px;
    border-color: var(--ColorBorderOne);
    height: 30px;
}
.size2{
    width: 80px;
}
.button{
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-top: -20px;
}

.titles{
    display: flex;
    position: relative;
    justify-content: center;
    color: var(--ColorFontTwo);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
}
.title1{
    width: 100px;
    }
    .title2{
        width: 140px;
    }
    .title3{
        width: 90px;
    }
    .title4{
        width: 70px;
    }


    @media screen and (max-width: 500px) {

        .title1{
            width: 80px;
            }
            .title2{
                width: 100px;
            }
            .title3{
                width: 80px;
            }
            .title4{
                width: 50px;
            }
    }