.Conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ColorFontTwo);
    font-size: 13px;
    gap: 10px;
    margin-top: -80px;
    padding-bottom: 10px;
    
}
.logo{
    background-image: url('../../../public/logo\ DR.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 35px;
    width: 85.51px;
}