.Conteiner{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding-right: 25px;
}
.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}