.ConteinerClientes{
    display: flex;
    position: absolute;
    min-height: 800px;
    flex-direction: column;
    background-image: linear-gradient(180deg,rgb(100, 9, 9) 0, rgb(90, 9, 9) 10%, rgb(80, 9, 9) 20%, rgb(70, 9, 9) 30%, rgb(60, 9, 9) 40%, rgb(50, 9, 9) 50%, rgb(40, 9, 9) 60%, rgb(30, 9, 9) 70%, rgb(20, 9, 9) 80%, rgb(10, 9, 9) 90%, rgb(0, 9, 9) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
}
.contTitle{
    margin: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.titleP{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-style: initial;
    font-size: 22px;
    color: white;
}
.title{
    display: flex;
    position: relative;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
    margin-top: 0px;
}
.cardsCont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 500px) {
    .title{
        gap: 15px;
        font-size: 16px;
        
    }
    .cardsCont{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
.Conteiner{
    width: 100%;
    height: 100%;
    min-height: 800px;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
}

.tablecliente{
    margin-top: 20px;
    max-width: 500px;
    width: 400px;
}
.buttonEdit{
    display: flex;
    position: relative;
    margin-bottom: -30px;
    margin-left: 300px;
}
.buttonDelete{
    display: flex;
    position: relative;
    margin-left: 375px;
    margin-bottom: -24px;
}
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.marca{
    background-color:black;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.firstTitle{
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-style: initial;
    font-size: 22px;
}
.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}