.ConteinerBalance{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    min-height: 800px;
    align-items: center;
    width: 100%;
    justify-items: center;
    justify-content: space-between;
//     background-image: url("https://res.cloudinary.com/dk2al2urj/image/upload/v1666038470/MyPortfolio/fondo_de_pantalla_don_alberto_ioflbo.png") ;
    background-color: rgb(68, 9, 9);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.tableBalance{
    width: 400px;
}
.marca{
    background-color:black;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
