.ConteinerCompras{
    display: flex;
    position: absolute;
    min-height: 100%;
    flex-direction: column;
    background-image: linear-gradient(180deg,rgb(100, 9, 9) 0, rgb(90, 9, 9) 10%, rgb(80, 9, 9) 20%, rgb(70, 9, 9) 30%, rgb(60, 9, 9) 40%, rgb(50, 9, 9) 50%, rgb(40, 9, 9) 60%, rgb(30, 9, 9) 70%, rgb(20, 9, 9) 80%, rgb(10, 9, 9) 90%, rgb(0, 9, 9) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    align-items: center;
    padding-bottom: 30px;
}
#asd{
    justify-content: center;
    min-height: 0;
    align-items:unset;
}
@media screen and (max-width: 1000px) {
    #asd{
        justify-content: center;
        min-height: 100%;
    }
}
.title{
    display: flex;
    position: relative;
    gap: 15px;
    justify-content: center;
    align-items: center;
    color: var(--ColorFontTwo);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-style: initial;
    margin-top: 20px;
}
.titleForm{
    font-size: 16px;
}
#buttonOk{
    display: flex;
    justify-content: flex-end;
}
.cardsCont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 500px) {
    .title{
        gap: 12px;
        font-size: 13px;
        
    }
    .cardsCont{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .TableCompras{
        max-width: 330px;
    }
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}
.formItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: var(--ColorEight);
    border-radius: 10px;
    margin: 0;
    padding: 18px;
    color: var(--ColorFontOne);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-style: initial;
    
}
.formItemDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: var(--ColorEight);
    border-radius: 10px;
    margin-left: 0;
    padding: 18px;
    color: var(--ColorFontOne);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-style: initial;
    gap: 70px;
}
.title2{
    font-size: large;
    padding-top: 10px;
}
p.danger {
	color: var(--ColorFontTrhee);
	text-align: center;
	margin: 0;
    font-size: 12px;
}
p.pass{
    display: none;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    color: var(--ColorFontOne);
}
.shortButtons{
    display: flex;
    gap: 50px;
}
.size1 {
	width: 50px;
}
.size2{
    width: 100px;
}
.numero{
    display: flex;
}
input{
    border-radius: 10px;
    border-color: var(--ColorBorderOne);
}
select{
    border-radius: 10px;
    border-color: var(--ColorBorderOne);
    height: 30px;
}

.cardGrupo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    background-color: var(--ColorEight);
    border-radius: 10px;
}
.cardGrupo2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    background-color: var(--ColorEight);
    border-radius: 10px;
    padding-top: 10px;
    font-size: 13px;
}
.button{
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-top: -15px;
}

.TableCompras{
    margin-top: 2%;
    width: 400px;
}
.buttonEdit{
    display: flex;
    position: relative;
    margin-left: 330px;
    margin-bottom: -30px;
}
.buttonDelete{
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-bottom: -20px;
}
.page{
    margin-top: 10px;
}

.grupos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 50px;
    align-self: center;
    justify-self: center;
}

@media only screen and (max-width: 650px) {
    .grupos {
    grid-template-columns: 1fr;
    }  
}

