.conteinerDetalle{
    width: 100%;
    height: 100%;
    min-height: 800px;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: linear-gradient(180deg,rgb(100, 9, 9) 0, rgb(90, 9, 9) 10%, rgb(80, 9, 9) 20%, rgb(70, 9, 9) 30%, rgb(60, 9, 9) 40%, rgb(50, 9, 9) 50%, rgb(40, 9, 9) 60%, rgb(30, 9, 9) 70%, rgb(20, 9, 9) 80%, rgb(10, 9, 9) 90%, rgb(0, 9, 9) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.tablefaena{
    margin-top: 2%;
    max-width: 500px;
    width: 400px;
}
.buttonEdit{
    display: flex;
    position: relative;
    margin-left: 365px;
    margin-bottom: -10px;
}
.buttonDelete{
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-bottom: -20px;
}
.page{
    margin-top: 10px;
}

