.card{
    display: flex;
    flex-direction: column;
    background-color: rgb(195, 215, 228);
    border-radius: 20px;
    padding: 15px;
    padding-top: 30px;
}
.items{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.miniButton{
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-bottom: -16px;
}