.cont{
    display: flex;
    position: relative;
    justify-content: center;
}
.button1{
    width: 150px;
    height: 50px;
    background-color: rgb(255,159,0);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-right-width: 0px;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    font-style: initial;
}
.button1:hover{
    background-color: rgb(160, 160, 160);
}
.button2{
    width: 150px;
    height: 50px;
    background-color: rgb(255,159,0);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 1px;
    border-color: black;
    margin: 0;
    padding: 0;
    background-image: url("../../../Media/add-circle-outline.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.button2:hover{
    background-color: rgb(160, 160, 160);
}
