.NavConteiner{
    display: flex;
    position: relative;
    height: auto;
    padding: 5px;
    width: 100%;
    background-color: rgb(222, 239, 246);
    justify-content: center;
    align-items: center;
    gap: 10%;
   
}
.DivTitle{
    display: flex;
    position: relative;
    align-items: center;
    width: 60%;
    margin-left: 5%;
}
.NavTitle{
    display:flex;
    position: relative;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    font-style:initial;
    font-weight: bold;
    height: 100%;
}

.ConteinerButtonReturn{
    background-color: rgb(191, 215, 228);
    background-image: url("../../Media/return.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 16%;
    height: 16%;
    max-width: 60px;
    min-width: 50px;
    max-height: 60px;
    min-height: 50px;
    border-radius: 30%;
    cursor: pointer;

}
.ConteinerButtonReturn:hover{
    background-color: rgb(104, 155, 189);
}

.ConteinerButtonHome{
    background-color: rgb(191, 215, 228);
    background-image: url("../../Media/home.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 16%;
    height: 16%;
    max-width: 60px;
    min-width: 50px;
    max-height: 60px;
    min-height: 50px;
    border-radius: 30%;
    margin-right: 10%;
    cursor: pointer;

}
.ConteinerButtonHome:hover{
    background-color: rgb(104, 155, 189);
}
@media screen and (min-width: 500px) {
    .ConteinerButtonHome {
    margin-right: 3%;
    margin-left: 0%;
    }
    .DivTitle{
       width: 90%;
       margin-left: 5%;
    }
    .ConteinerButtonReturn{
        margin-left: 0%;
        margin-right: 0%;
    }
    .NavConteiner{
        gap: 3%;
    }
    .NavTitle{
        font-size: 25px;
    }
  }