.NavConteiner{

    display: flex;
    position: relative;
    height: 10%;
    width: 100%;
    max-height: 60px;
    background-color: rgb(222, 239, 246);
    align-content: center;
    gap: 10%;
   
}
.DivTitle{
    display: flex;
    position: relative;
    width: 60%;
    
    max-height: 60px;
    margin-left: 5%;
}
.NavTitle{
    display:grid;
    font-size: 25px;
    font-family:cursive;
    font-style: normal;
    height: 100%;
    align-items: center;
}

.ConteinerButtonReturn{
    background-color: rgb(191, 215, 228);
    background-image: url("../../Media/return.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 16%;
    max-width: 60px;
    min-width: 50px;
    border-radius: 30%;

}

.ConteinerButtonHome{
    background-color: rgb(191, 215, 228);
    background-image: url("../../Media/home.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 16%;
    max-width: 60px;
    min-width: 50px;
    border-radius: 30%;
    margin-right: 10%;

}
@media screen and (min-width: 400px) {
    .ConteinerButtonHome {
    margin-right: 3%;
    margin-left: 0%;
    }
    .DivTitle{
       width: 90%;
       margin-left: 5%;
    }
    .ConteinerButtonReturn{
        margin-left: 0%;
        margin-right: 0%;
    }
    .NavConteiner{
        gap: 3%;

    }
  }